/* Layout CSS */
/* @todo make responsive */
/* @todo Move colors to themes */

#pmHeader .menuBar {
    width: 100%;
}

#pmHeader .menuBar li {
    position: relative;
}

#pmHeader .menuBar li a,
#pmHeader .menuBar li span {
    background-color: #ddd;
    border: 1px solid #ccc;
    color: #000;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#pmHeader .menuBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Layout for the top level menu */
#pmHeader .menuBar ul li {
    float: left;
    width: 100px;
}

/* Reset float for child menus */
#pmHeader .menuBar ul li ul {
    float: none;
}

/* Hide the child menus */
#pmHeader .menuBar ul li ul {
    display: none;
    position: absolute;
    top: 100%;
}

/* Show child menus on hover */
#pmHeader .menuBar ul li:hover > ul {
    display: block;
}

/* Style for nested ul */
#pmHeader .menuBar ul ul ul {
    left: 100%;
    top: 0;
}

/* Show nested ul on hover */
#pmHeader .menuBar ul ul li:hover > ul {
    display: block;
}

@media (max-width: 599px) {
    #pmHeader {
        width: 100%;
    }

    #pmHeader .pmBanner {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    #pmHeader .pmLogo,
    #pmHeader .pmIconBar,
    #pmHeader .pmSearchBar {
        flex: 1;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    #pmHeader {
        width: 100%;
    }

    #pmHeader .pmBanner {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    #pmHeader .pmLogo,
    #pmHeader .pmIconBar,
    #pmHeader .pmSearchBar {
        flex: 1;
    }
}

@media screen and (min-width: 1201px) {
    #pmHeader {
        width: 100%;
    }

    #pmHeader .pmBanner {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    #pmHeader .pmLogo,
    #pmHeader .pmIconBar,
    #pmHeader .pmSearchBar {
        flex: 1;
    }
}
