/* Default styling for list and links */
#pmLeftNav .menuNav li {
    position: relative;
}

#pmLeftNav .menuNav li a {
    background-color: #ddd;
    border: 1px solid #ccc;
    color: #000;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#pmLeftNav .menuNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Layout for the top level menu */
#pmLeftNav .menuNav ul li {
    width: 200px;
}

/* Hide the child menus */
#pmLeftNav .menuNav ul li ul {
    display: none;
    left: 100%;
    position: absolute;
    top: 0;
}

/* Show child menus on hover */
#pmLeftNav .menuNav ul li:hover > ul {
    display: block;
}

/* Style for nested ul */
#pmLeftNav .menuNav ul ul ul {
    left: 100%;
    top: 0;
}

/* Show nested ul on hover */
#pmLeftNav .menuNav ul ul li:hover > ul {
    display: block;
}
