#pmBody {
    display: grid;
    gap: 5px;
    grid-template-columns: 200px 1fr 200px;
}

#pmFooter {
    clear: both;
    grid-column: 1/4;
    grid-row: 3/4;
}

#pmHeader {
    grid-column: 1/4;
    grid-row: 1/2;
}

#pmLeftNav {
    grid-column: 1/2;
    grid-row: 2/3;
}

#pmMain {
    grid-column: 2/3;
    grid-row: 2/3;
}

#pmRightNav {
    grid-column: 3/4;
    grid-row: 2/3;
}

@media (max-width: 599px) {
    #pmLeftNav section {
        margin-bottom: 5px;
    }

    #pmMain {
        padding: 10px;
    }

    #pmRightNav section {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    #pmLeftNav section {
        margin-bottom: 10px;
    }

    #pmMain {
        padding: 10px;
    }

    #pmRightNav section {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1201px) {
    #pmLeftNav section {
        margin-bottom: 20px;
    }

    #pmMain {
        padding: 20px;
    }

    #pmRightNav section {
        margin-bottom: 20px;
    }
}
