@media (max-width: 599px) {
    #pmRightNav section {
        margin-bottom: 10px;
    }

    #pmRightNav {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    #pmRightNav section {
        margin-bottom: 10px;
    }

    #pmRightNav {
        display: block;
        float: left;
        width: 20%;
    }
}

@media screen and (min-width: 1201px) {
    #pmRightNav section {
        margin-bottom: 20px;
    }

    #pmRightNav {
        display: block;
        float: left;
        width: 15%;
    }
}
