@media screen and (max-width: 599px) {
    #pmMain {
        padding: 10px;
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    #pmMain {
        float: left;
        padding: 10px;
        width: 60%;
    }
}

@media screen and (min-width: 1201px) {
    #pmMain {
        float: left;
        padding: 20px;
        width: 70%;
    }
}
