/* Base .button styles for all screens */
.button {
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	transition: background .3s ease;
}

/* Pastel blue */
.button.blue {
	background-color: #add8e6;
	color: #000;
}

.button.blue:hover {
	background-color: #c1e0f6;
}

/* Pastel gray */
.button.gray {
	background-color: #d3d3d3;
	color: #000;
}

.button.gray:hover {
	background-color: #dcdcdc;
}

/* Pastel green */
.button.green {
	background-color: #98fb98;
	color: #000;
}

.button.green:hover {
	background-color: #adffad;
}

/* Pastel lavender */
.button.lavender {
	background-color: #e6e6fa;
	color: #000;
}

.button.lavender:hover {
	background-color: #f0f0ff;
}

/* Pastel orange */
.button.orange {
	background-color: #ffdab9;
	color: #000;
}

.button.orange:hover {
	background-color: #ffe4c4;
}

/* Pastel pink */
.button.pink {
	background-color: #ffb6c1;
	color: #000;
}

.button.pink:hover {
	background-color: #ffc1d6;
}

/* Pastel yellow */
.button.yellow {
	background-color: #fffacd;
	color: #000;
}

.button.yellow:hover {
	background-color: #fffdd0;
}

@media screen and (max-width: 599px) {
	.button {
		padding: 10px 20px;
	}
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
	.button {
		padding: 15px 30px;
	}
}

@media screen and (min-width: 1201px) {
	.button {
		padding: 20px 40px;
	}
}
